[submodule "all"]
	path = all
	url = git@github.com:aoindustries/semanticcms-pages-all.git
[submodule "unavailable"]
	path = unavailable
	url = git@github.com:aoindustries/semanticcms-pages-unavailable.git
[submodule "bom"]
	path = bom
	url = git@aoindustries.github.com:aoindustries/semanticcms-pages-bom.git
